* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
  background-color: black;
  color: azure;
}

.header div {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.header div a {
  padding: 4px;
  background-color: rgb(127, 255, 178);
  color: black;
  text-decoration: none;
}

.settings-container {
  display: grid;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}


.settings-create-container,
.settings-update-container,
.settings-buttons-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.car-container {
  display: flex;
  flex-direction: column;
}

.cars-control {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-start,
.button-stop {
  margin-right: 5px;
  padding: 2px;
}

.car-img,
.image,
.image use {
  width: 60px;
  height: 60px;
}

.racing-track {
  display: flex;
  align-items: center;
  border-bottom: 5px dotted whitesmoke;
}

.flag {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20%;
  background-size: cover;
  background-image: url(./img/finish.png);
}

.pagination-button-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.pagination-button-container button {
  padding: 2px;
}

.winner-title-container {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}

.row-title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: space-around;
  width: 60%;
}

.row-title div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}